<div class="content">
    <section class="loginPanel">
        <div class="form-group">
            <label for="usr">Email:</label>
            <input type="text" class="form-control" ng-model="home.email" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" ng-model="home.password" id="pwd">
        </div>
        <button type="button" class="btn btn-success" ng-click="home.login()">Login</button>

    </section>
</div>