<div class="content">
<h1 style="text-align: center; padding-top: 3%">HTML Quiz</h1>
    <div style="text-align: center; font-weight: bold;">No of Questions: {{questions.qNo}} / {{questions.questionLength}}</div>
   <section class="questionsArea">
    <div class="q1">
        <p class="questionPara"> {{questions.qNo}}) {{questions.questionsBank[questions.i].text}}</p>

    </div>

        <ul>


            <li class="options">
                <label>
                    <input type="radio" name="opt" ng-model="questions.option" value="{{questions.questionsBank[questions.i].option1}}" > {{questions.questionsBank[questions.i].option1}}
                </label>
            </li>
            <li class="options">
                <label>
                    <input type="radio" name="opt" ng-model="questions.option" value="{{questions.questionsBank[questions.i].option2}}" > {{questions.questionsBank[questions.i].option2}}
                </label>
            </li>
            <li class="options">
                <label>
                    <input type="radio" name="opt" ng-model="questions.option" value="{{questions.questionsBank[questions.i].option3}}" > {{questions.questionsBank[questions.i].option3}}
                </label>
            </li>
        </ul>

        <button class="btn btn-success nxtBtn" ng-click="questions.next()">Next</button>
   </section>
</div>